# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Model checkpoints
artifacts/models/**/*.pth

# Raw dataset images
data/raw/

# Jupyter
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db